<div th:fragment="heating" class="heatingSwitches">
	<ul>
		<li>
			<div id="container">
				<div>
					<div>Relais 1</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1" id="relais1"></input>
					</div>
				</div>
				<div>
					<div>Relais 2</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1" id="relais2"></input>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div id="container">
				<div>
					<div>safd</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1"></input>
					</div>
				</div>
				<div>
					<div>safd</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1"></input>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div id="container">
				<div>
					<div>safd</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1"></input>
					</div>
				</div>
				<div>
					<div>safd</div>
					<div class="switch-wrapper">
						<input type="checkbox" value="1"></input>
					</div>
				</div>
			</div>
		</li>
	</ul>

</div>